@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.container {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 40px;

}

.menuContainer {
    background-color: pink;
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: -125px;
    left: -125px;
}

.menu {
    position: absolute;
    /* top: 132px;
    left: 123px; */
    /* background-color: red; */

    button {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
    }

    .open {
        font-size: 60px;
        transform: translate(124px, 144px);
    }

    .close {
        font-size: 50px;
        transform: translate(90px, 144px);
    }
}

.content {
    max-width: 1200px;
    margin: 60px auto;
    /* background-color: red; */

    h3 {
        margin: 20px 0;
    }

    .name {
        color: #555;
        font-style: italic;
    }

    .paragraph {
        color: #333;
        line-height: 1.5;
        margin: 20px 0;
    }

    img {
        width: 100%;
    }
}

nav {
    position: fixed;
    bottom: 100px;
    transform: translateX(-200px);
}

nav ul li {
    list-style-type: none;
    color: #fff;
    margin: 40px 0;
    text-transform: uppercase;
}